<app-header></app-header>
<app-sidmenu />
<ion-content>
  <div class="titulo">
    <ion-icon name="image-outline"></ion-icon>
    <h1>Turismo</h1>
  </div>

  <form action="">
    <label>Clique <b ><label for="update">aqui</label></b> para adicina a imagem</label>

      <img *ngIf="imageSrc" [src]="url" alt="Preview da imagem" />

    <input type="file" id="update" style="display: none" #upload (change)="handleFile($event)"/>
    <ion-label>Titulo</ion-label>
    <ion-input label="Titulo" labelPlacement="stacked" placeholder="Adicione o nome ou local"></ion-input>
    <ion-label>Descrição:</ion-label>
    <ion-textarea></ion-textarea>

    <ion-button  (click)="addTourism()">Salvar</ion-button>
  </form>
</ion-content>

