ion-content{
  --background: #7301B1;
  .back{
    display: flex;
    width: 70vw;
    height: 100vh;
    background: #EBEFF5;
    background-image: url("./../../../assets/doca.jpg");
    background-repeat: no-repeat;
    background-size: cover;

  }
  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    width: 20vw;
    height: 40vh;
    padding: 30px;
    margin-right: -10vw;

    ion-img{
      width: 125px;
      height: 80px;
    }
    ion-input{

      color:#4B5459 ;
    }
  }

  ion-label{
    color: #4B5459;
    align-self: end;
  }
  ion-button{
    --background: #7301B1;
    text-transform:none;
    font-size: 16px;
    width: 10vw;
    height: 5vh;

  }
}
