ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  ion-icon{
    color: #fff;
  }
  .dashbord {
    margin: auto;
    margin-top: 50px;
    width: 85vw;
    .itens {
      display: flex;
      flex-direction: row;
      gap: 45px;
      justify-content: center;
      ion-item {
        --background: #fff;
        --box-shadow: #000 2px;
        --padding: 0;
        --margin: 0;
        --min-height: 100px;
        --padding-start:0px;
        width: 326px;

        .back {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 100px;
          background: #F19B2C;
        }
        ion-title {
          color: #4B5459;
          font-size: 16px;
          font-family: Arial, Helvetica, sans-serif;
          padding-left: 10px;
        }

        ion-label {
          color: #000;
          font-size: 22px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 600;
          padding-left: 10px;
        }
      }
    }

    .grafico{
      display: flex;
      flex-direction: row;
      gap: 45px;
      justify-content: center;
      margin-top: 20px;
      .relatorio{
        width: 698px;
        height: 346px;
        background-image: url("/assets/grafico.png");
      }

      .ranking{
        width: 327px;
        height: 345px;
        background: #fff;
        border-radius: 8px;
        background-image: url("/assets/grafico2.png");

      }
    }

    .listas{
      display: flex;
      justify-content: center;
      gap: 45px;
      margin-top: 20px;
      .lista {
        background: #fff;
        border-radius: 8px;
        border: solid 1px #c9c9c9;
        width: 698px;
        height: 305px;
        overflow: hidden;
        ion-label.titulo-lista{
          color: #4B5459;
          padding: 10px;
          font-size: 22px;
          font-family: Arial, Helvetica, sans-serif;
        }

        ion-row {
          border-bottom: solid 2px #c9c9c9;
        }
        ion-col {
          color: #4b5459;
          align-self: center;
        }
      }

      .concluida{
        width: 326px;
        height: 305px;
        background: #fff;
        border-radius: 8px;
        border: solid 1px #c9c9c9;
        overflow: hidden;
        ion-label.titulo-lista{
          color: #4B5459;
          padding: 10px;
          font-size: 22px;
          font-family: Arial, Helvetica, sans-serif;
        }

        ion-row {
          border-bottom: solid 2px #c9c9c9;
        }
        ion-col {
          color: #4b5459;
          align-self: center;
        }
      }
    }
  }
}
