ion-header {
  ion-toolbar {
    text-align: center;
    --background: #7301b1;
    ion-title {
      color: #fff;
    }
  }
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #80808012;
  gap: 1rem;
  overflow: auto;
  padding: auto;
  .title {
    margin: auto;
    margin-top: 1rem;
    justify-items: center;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      background: #7301b1;
      width: 78px;
      height: 78px;
      border: 8px;
      padding: 10px;
      margin-right: 10px;

      ion-icon {
        font-size: 48px;
        color: #000;
      }
    }
    ion-col {
      text-align: center;
    }
    ion-label {
      text-align: center;
    }
  }
  .grid {
    margin: auto;
    margin-top: 1rem;
    ion-grid {
      width: 50vw;
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0px 0px 4px 0px;
      gap: 1rem;
      ion-label {
        text-align: start;
        padding: 1rem;
      }
      ion-row {
        text-align: start;
      }
    }
  }
  .image{
    margin: auto;
    align-items: center;
    width: 50vw;
    margin-bottom: 2rem;
    img{
      margin: auto;
      width: 100%;
    }
  }

}

ion-footer {
  --webkit-box-shadow: 0;
  --box-shadow: 0;
  ion-item {
    --background: #ebeff5;
    --inner-border-width: 0;
    border: none;
    color: #000;
    bottom: 0;
    .success {
      --background: #009b3e;
      ion-label {
        color: #fff;
        padding: 10px;
      }
    }
    .danger {
      --background: none;
      --box-shadow: 0;
      ion-label {
        color: #f40404;
        padding: 10px;
      }
    }
  }
}
.date {
  border: 1px solid #000;
  border-radius: 8px;
  width: 20rem;
}
