<ion-header>
  <ion-toolbar>
    <ion-title>Requisição</ion-title>
  </ion-toolbar>
</ion-header>

<div class="content">
  <div class="title">
    <div class="icon">
      <ion-icon name="{{ editDate.icon }}"></ion-icon>
    </div>
    <ion-label>
      <ion-title>Serviço</ion-title>
      <ion-label>{{ editDate.titulo }}</ion-label>
    </ion-label>
  </div>

  <div class="grid">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-label>
            <ion-title>Data de criação</ion-title>
            <ion-label>{{ editDate.abertura | date : "dd/MM/yyyy" }}</ion-label>
          </ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>
            <ion-title>Data de alterção</ion-title>
            <ion-label>{{ editDate.abertura | date : "dd/MM/yyyy" }}</ion-label>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row></ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-label>
            <ion-title>Endereço</ion-title>
            <ion-label>XXXXXXXXXXXXXXX</ion-label>
          </ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>
            <ion-title>Descrição</ion-title>
            <ion-label>{{ editDate.descricao }}</ion-label>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-label>
            <ion-title>Observação</ion-title>
            <ion-textarea [(ngModel)]="editDate.observacao">{{
              editDate.obsrvacao
            }}</ion-textarea>
          </ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>
            <ion-list>
              <ion-item>
                <ion-select
                  (ionChange)="handleEvent($event)"
                  justify="space-between"
                  interface="popover"
                  label="Status"
                  placeholder="{{ editDate.status }}"
                >
                  <ion-select-option *ngFor="let i of status" value="{{ i }}">{{
                    i
                  }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="title">
    <ion-title>Imagem</ion-title>
  </div>
  <div class="image">
    <img src="{{ editDate.url }}" alt=""/>
  </div>
</div>

<ion-footer>
  <ion-item>
    <ion-button class="danger" slot="end" (click)="cancel()"
      ><ion-label>Cancelar</ion-label></ion-button
    >
    <ion-button class="success" slot="end" (click)="update()"
      ><ion-label>Confirma</ion-label></ion-button
    >
  </ion-item>
</ion-footer>
