<ion-header>
  <ion-toolbar>
    <ion-title>Requisição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-item>
          <div class="back">
            <ion-icon name="{{ editDate.icon }}"></ion-icon>
          </div>
          <ion-label>
            <ion-title>Titulo</ion-title>
            <ion-label>{{ editDate.titulo }}</ion-label>
          </ion-label>
        </ion-item></ion-col
      >

      <ion-col size="4">
        <ion-item class="date">
          <ion-label>Data de criação:</ion-label>
          <ion-label>{{editDate.abertura | date:'dd/MM/yyyy'}}</ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="4">
        <ion-list>
          <ion-item>
            <ion-select
              interface="popover"
              placeholder="Status"
              (ionChange)="handleEvent($event)"
            >
              <ion-select-option
                *ngFor="let item of status"
                value="{{ item }}"
                >{{ item }}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <ion-textarea
          label="Endereço"
          [(ngModel)]="editDate.local.label"
          labelPlacement="floating"
          fill="outline"
        ></ion-textarea>
      </ion-col>

      <ion-col size="4">
        <ion-textarea
          label="Descrição"
          [(ngModel)]="editDate.descricao"
          labelPlacement="floating"
          fill="outline"
          [disabled]="true"
        ></ion-textarea>
      </ion-col>

      <ion-col size="4">
        <ion-textarea
          label="Obeservação"
          [(ngModel)]="editDate.observacao"
          labelPlacement="floating"
          fill="outline"
        ></ion-textarea>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="imagens">
    <ion-label>Imagens:</ion-label>
    <div>
      <img src="{{ editDate.url }}" alt="" />
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-button class="danger" slot="end" (click)="cancel()"
      ><ion-label>Cancelar</ion-label></ion-button
    >
    <ion-button class="success" slot="end" (click)="update()"
      ><ion-label>Confirma</ion-label></ion-button
    >
  </ion-item>
</ion-footer>
